.project{
    display: flex;
    padding-top: 20px;
}

.project img{
    padding-right: 15px;
    width: 20%;
}

.project-info{
    display: block;
}

.project-info h4, .project-info p{
    margin: 0;
    color: #002a5c;
}

.project-info h4 {
  font-size: 26px;
  font-weight: 600;
  cursor: pointer;
  display: inline;
}

.project-info h4:hover{
    text-decoration: underline;
}